* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}



.headerSection {
    position: static;
    background-color: #f8765e;
    height: 157vh;
}

.title {
    padding-top: 25px;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.23;
    letter-spacing: normal;
    color: #ffffff;
}

nav {
    text-align: center;
    margin-top: 14px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}

li{
    display: inline;
}

li:first-child{
    margin-right: 39px;
}

li:nth-child(2){
    margin-right: 36px;
}

.iphoneMockup{
    width: 286px;
    height: 231px;
    object-fit: contain;
    margin-top: 60px;
    padding: 0  45px 0 45px;
}

.subscribeHeaderText{
    margin-top: 55px;
}

.headerTitleText {
    margin: 0 30px 0 30px;
    width: 315px;
    height: 120px;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.headerText {
    margin: 15px 30px 0 30px;
    width: 315px;
    height: 160px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

input {
    margin: 30px 20px 0px 20px;
    width: 335px;
    height: 60px;
    border-radius: 20px;
    background-color: #ffffff;
}

input::placeholder {
    padding: 0 162px 0 25px;
    width: 148px;
    height: 20px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #cdcdcd;
}

button{
    width: 168px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14);
    background-color: #9bdbe7;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.botonHeader {
    margin: 20px 103px 0 104px;
}

.cardSection {
    margin:auto;
    position: relative;
    bottom: 6.5vh;
    width: 90%;
    height: 237.4vh;
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    background-color: #ffffff;
}

.article1 {
    padding-top: 9.4vh;
}

.art{
    padding-left: 17.2vw;
    padding-right: 17.2vw;
    width: 208px;
    height: 120px;
}

.textoCard {
    margin-top: 60px;
    padding-left: 6vw;
    padding-right: 6vw;
}

.tituloArt {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #031d5b;
}

.separador {
    margin: 15px 0 20px 0;
    width: 60px;
    height: 5px;
    background-color: #f8765e;
}

.textoArt {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #5b6c94;
}

.article2 {
    padding-top: 9.4vh;
}

.article3 {
    padding-top: 9.4vh;
}

.subscribeSection{
    margin-top: 10vh;
}

.iphonVertical {
    display: block;
    margin: 0 auto;
}

.subsText {
    margin-top:60px;
}

.titleSubs {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #f8765e;
}

.subtitleSubs {
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: center;
    color: #031d5b;
}

.textSubs {
    margin: 30px 30px 0 30px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #5b6c94;
}

.buttonSubs {
    margin: 30px 103px 0 104px;
}

.customerSaidSection {
    margin-top: 200px;
    position: relative;
}

.quotes {
    margin-left: 30px;
    position: absolute;
    bottom: 91vh;
}

.whatOur {
    position: absolute;
    bottom: 14vh;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #f8765e;

}

.orangeCuad {
    width: 10000px;
    height: 660px;
    border-radius: 20px;
    background-color: #f8765e;
    position: relative;
    margin-left: 75px;
}

.customerSaidCards{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 12px 12px 40px 0 rgba(0, 0, 0, 0.2);
    background-color: #9bdbe7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    bottom: 18vh;
    margin-left: 20px;
}